/* 淡入动画 */
@keyframes opacitymainx {
  0% {
    opacity: 0;
    transform: translateX(-50px) 
  }

  100% {
    opacity: 1;
    transform: translateX(0)
  }
}
@keyframes opacitymain {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* 主页向下箭头动画 */
@keyframes scroll-down {
    0% {
        top: 0;
        opacity: .4;
    }

    50% {
        top: -16px;
        opacity: 1;
    }

    100% {
        top: 0;
        opacity: .4;
    }
}
